body {
    background-color:#CDCDCD;
  }
h1 {
    text-align: center; color: darkslategray; font-size:350%;
  }
h2 {
    color: #008080; font-size: 250%;
}
p {
    color: #994415; font-size: 150%;
}
h3 {
    color: #008080; font-size: 250%;
}
p1{
    color: #994415;
}